// colors
$navy: #023e8a;
$blue: #0077b6;
$teal: #00b4d8;
$aqua: #90e0ef;
$olive: #2d6a4f;
$green: #538d22;
$lime: #73a942;
$red: #d00000;
$orange: #e85d04;
$yellow: #ffba08;
$purple: #9d4edd;
$magenta: #f72585;
$black: #111;
$gray: #aaa;
$silver: #cacaca;
$white: #fff;
